<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>申请订单</title>
    <link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">
    <link rel="stylesheet" href="static/css/base.css">
    <link rel="stylesheet" href="static/font/iconfont.css">
    <style>
        .mint-swipe {
            height: 138px;
            margin: -10px -10px 10px -10px;
        }

        .important {
            text-align: center;
        }

        .important > p {
            color: red;
        }

        .others {
            margin-top: .5em;
            padding: 10px;
            background-color: #fff;
        }

        .others > h3 {
            margin: 0 0 .5em 0;
        }

        .others > .items {
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
        }

        .notice > p {
            font-size: .9em;
        }
    </style>
</head>
<body>
<div class="container" id="app">
    <mt-header fixed title="申请订单">
    </mt-header>
    <mt-swipe :auto="5000">
        <mt-swipe-item>
            <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1482438419,4242892625&fm=200&gp=0.jpg">
        </mt-swipe-item>
        <mt-swipe-item>
            <img :src="banner">
        </mt-swipe-item>
    </mt-swipe>
    <div class="important">
        <h2>游戏信息填写</h2>
        <p>仅支持部落冲突云挂机<br>野蛮,弓箭低于3级无法挂机,请勿申请!</p>
    </div>
    <div>
        <mt-field label="版本" placeholder="请选择游戏版本" readonly @click.native="showPopup"
                  v-model="currentVersion"></mt-field>
        <mt-field label="时长(小时)" type="number" :attr="attr" placeholder="请输入挂机时间" v-model="time">
            <mt-button type="primary" size="small" @click.native="showTime">快速选择时间</mt-button>
        </mt-field>
        <mt-field label="游戏帐号" placeholder="请输入游戏帐号" v-model="game_id"></mt-field>
        <mt-field label="游戏密码" type="password" placeholder="请输入游戏密码" v-model="game_pass"></mt-field>
    </div>
    <div class="others">
        <h3>服务项目</h3>
        <div class="items">
            <mt-button :type="service.wall.isSelected" size="small" @click.native="isSelected('wall')">刷墙</mt-button>
            <mt-button :type="service.house.isSelected" size="small" @click.native="isSelected('house')">升建筑</mt-button>
            <mt-button :type="service.fighter.isSelected" size="small" @click.native="isSelected('fighter')">升兵种
            </mt-button>
            <mt-button :type="service.other.isSelected" size="small" @click.native="isSelected('other')">定制需求
            </mt-button>
        </div>
        <mt-field v-if="custom" style="border:1px solid #efefef; margin-top:.5em;" placeholder="请输入详细需求" type="textarea"
                  rows="4" v-model="customService"></mt-field>
    </div>
    <mt-button size="large" type="primary" class="submit" @click.native="submit">提交订单</mt-button>
    <div class="notice">
        <h3 class="title">特别说明</h3>
        <p><span v-html="explain"></span></p>
    </div>
    <div class="output">
        <mt-popup popup-transition="popup-fade" v-model="popupVisible" position="bottom" style="width:100%;">
            <div class="btn" style="display: flex;justify-content: space-between; padding:1em;">
                <mt-button type="default" size="small" @click.native="setVersion(false)">取消</mt-button>
                <mt-button type="primary" size="small" @click.native="setVersion(true)">确定</mt-button>
            </div>
            <mt-picker :slots="slots" @change="changeVersion"></mt-picker>
        </mt-popup>
    </div>
    <!-- 时间列表 -->
    <div class="output">
        <mt-popup popup-transition="popup-fade" v-model="timeVisible" position="bottom" style="width:100%;">
            <div class="btn" style="display: flex;justify-content: space-between; padding:1em;">
                <mt-button type="default" size="small" @click.native="setTime(false)">取消</mt-button>
                <mt-button type="primary" size="small" @click.native="setTime(true)">确定</mt-button>
            </div>
            <mt-picker :slots="times" @change="changeTime"></mt-picker>
        </mt-popup>
    </div>
    <mt-tabbar class="tabBar" v-model="selected" fixed>
        <mt-tab-item id="tab1" @click.native="goOrderList">
            <span class="iconfont icon-shouye" slot="icon"></span>
            首页
        </mt-tab-item>
        <mt-tab-item id="tab2" class="large">
            <span class="iconfont icon-jia" slot="icon"></span>
            提交订单
        </mt-tab-item>
        <mt-tab-item id="tab3" @click.native="goAccountHome">
            <span class="iconfont icon-wo" slot="icon"></span>
            我的
        </mt-tab-item>
    </mt-tabbar>
</div>
<!-- 先引入 Vue -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/mint-ui/lib/index.js"></script>
<script src="static/js/validator.js"></script>
<script src="static/js/fly.js"></script>
<script src="static/js/base.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            attr: {step: 1},
            popupVisible: false, // 是否显示弹出框
            timeVisible: false, // 是否显示弹出框
            selected: 'tab2',
            custom: false,
            service: { // 可提供的服务
                wall: {name: '升墙', isSelected: 'default'},
                house: {name: '升建筑', isSelected: 'default'},
                fighter: {name: '升兵种', isSelected: 'default'},
                other: {name: '定制需求', isSelected: 'default'}
            },
            slots: [ // 游戏版本列表
                {
                    flex: 1,
                    values: [1, 2, 3, 4],
                    className: 't1',
                    textAlign: 'center'
                }
            ],
            times: [ // 预定义时间列表
                {
                    flex: 1,
                    values: [1, 2, 3, 4, 5, 10, 15, 20, 24],
                    className: 't1',
                    textAlign: 'center'
                }
            ],
            tempVersion: '',  // picker变化时临时保存的游戏版本
            currentVersion: '', // 当前选中的游戏版本
            customService: '', // 自定义需求
            banner: '', // 广告图
            explain: '', // 特别说明
            time: '', // 挂机时长
            tempTime: '', // 挂机时长
            game_id: '', // 游戏帐号
            game_pass: '', // 游戏密码
        },
        methods: {
            // 提交订单
            submit() {
                const that = this;
                const param = {
                    game_version: this.currentVersion,
                    game_id: this.game_id,
                    game_pass: this.game_pass,
                    time: this.time,
                    brush_wall: this.service.wall.isSelected === 'primary' ? 1 : 0,
                    up_building: this.service.house.isSelected === 'primary' ? 1 : 0,
                    up_arms: this.service.fighter.isSelected === 'primary' ? 1 : 0,
                    is_need: this.service.other.isSelected === 'primary' ? 1 : 0,
                    need: this.customService
                };
                // 删除没填写的选项
                for (let key in param) {
                    if (!param[key]) {
                        delete param[key];
                    }
                }
                // 如果没有选中其他,则删除其他下面的need
                if (!param.is_need) {
                    delete param.need;
                }
                // 验证小时
                console.log(!param.time, !/^\d+$/.test(param.time))
                if (!param.time || !/^\d+$/.test(param.time)) {
                    return this.$toast('时长输入有误');
                }
                if (!param.game_version) {
                    return this.$toast('游戏版本没选');
                }
                if (!param.game_id) {
                    return this.$toast('游戏帐号没填');
                }
                if (!param.game_pass) {
                    return this.$toast('游戏密码没填');
                }
                if (!param.brush_wall && !param.up_building && !param.up_arms && !param.is_need) {
                    return this.$toast('服务项目至少选择一项');
                }
                fly.post('setOrder', param)
                    .then(res => {
                        that.$toast(res.data.msg);
                        if (res.data.success) {
                            this.currentVersion = '';
                            this.game_id = '';
                            this.game_pass = '';
                            this.time = '';
                            this.service.wall.isSelected = 'default';
                            this.service.house.isSelected = 'default';
                            this.service.fighter.isSelected = 'default';
                            this.service.other.isSelected = 'default';
                            this.customService = '';
                            this.custom = false;
                        }
                    })
                    .catch(err => {
                        console.log(err);
                    })
            },
            // 显示时间picker
            showTime() {
                this.timeVisible = !this.timeVisible;
            },
            changeTime(evn) {
                this.tempTime = evn.values[0];
            },
            setTime(isChange) {
                if (isChange) {
                    this.time = this.tempTime;
                }
                this.timeVisible = !this.timeVisible;
            },
            // 跳转到订单列表,即首页
            goOrderList() {
                location.href = 'list.html';
            },
            // 跳转到个人中心,即我的
            goAccountHome() {
                location.href = 'home.html';
            },
            // 服务项目选中状态
            isSelected(key) {
                this.service[key].isSelected = this.service[key].isSelected === 'default' ? 'primary' : 'default';
                if (key === 'other') {
                    this.custom = !this.custom;
                }
            },
            // 获取游戏版本
            changeVersion(evn) {
                this.tempVersion = evn.values[0];
            },
            // 选中游戏版本
            setVersion(isChange) {
                if (isChange) {
                    this.currentVersion = this.tempVersion;
                }
                this.popupVisible = !this.popupVisible;
            },
            // 显示游戏版本弹容
            showPopup() {
                this.popupVisible = !this.popupVisible;
            }
        },
        created() {
            const that = this;
            // 获取游戏版本
            fly.get('getGameVersion')
                .then(res => {
                    if (res.data.success) {
                        that.slots[0].values = res.data.result;
                    } else {
                        that.$toast(res.data.msg);
                    }
                })
                .catch(err => {
                    console.log(err);
                });
            // 获取banner和说明文字
            fly.get('getExplain')
                .then(res => {
                    if (res.data.success) {
                        that.banner = res.data.result.banner;
                        that.explain = res.data.result.explain;
                    } else {
                        that.$toast(res.data.msg);
                    }
                })
                .catch(err => {
                    console.log(err);
                });

        }
    })
</script>
</body>
</html>