<!doctype html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册</title>
    <link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">
    <link rel="stylesheet" href="../static/css/base.css">
</head>
<body>
<div class="container" id="app">
    <mt-header fixed title="注册">
        <mt-button icon="back" slot="left" @click="goLogin">返回</mt-button>
    </mt-header>
    <div class="logo">
        <img src=https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=3169309491,3410593409&fm=27&gp=0.jpg""
             alt="">
    </div>
    <div class="form">
        <mt-field label="手机号" type="tel" placeholder="请输入手机号" v-model="phone.value" :state="phone.state"
                  @keyup.native="isPhone"></mt-field>
        <mt-field label="验证码" type="number" placeholder="请输入验证码" v-model="code.value" :state="code.state"
                  @keyup.native="isCode">
            <mt-button :type="codeType.color" :disabled="codeType.state" size="small" @click="getCode">
                {{codeButton.value}}
            </mt-button>
        </mt-field>
        <mt-field label="昵称" placeholder="请输入昵称" v-model="nickName.value" :state="nickName.state"
                  @keyup.native="isNickname"></mt-field>
        <mt-field label="密码" type="password" placeholder="请输入密码" v-model="password.value"
                  :state="password.state" @keyup.native="isPassword"></mt-field>
        <mt-field label="推荐人ID" placeholder="请输入推荐人,可不填" v-model="masterId.value" :state="masterId.state"></mt-field>
    </div>
    <mt-button class="submit" type="primary" size="large" @click.native="submit">注册</mt-button>
    <div class="link">
        <a href="./login.html">已有帐号,请登陆</a>
    </div>
</div>
<!-- 先引入 Vue -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/mint-ui/lib/index.js"></script>
<script src="../static/js/validator.js"></script>
<script src="../static/js/fly.js"></script>
<script>
    const v = new Validator();
    const fly = new Fly();
    fly.config.baseURL = `http://kami.chenziyong.vip/api/v1/`;
    fly.config.crossDomain = true;
    new Vue({
        el: '#app',
        data: {
            phone: {value: '', state: ''},
            code: {value: '', state: ''},
            codeButton: {value: '获取验证码', state: ''},
            nickName: {value: '', state: ''},
            password: {value: '', state: ''},
            masterId: {value: '', state: ''}
        },
        computed: {
            // 获取验证码图标状态
            codeType() {
                // codeButton.state 为true时,表示倒计时计时中,不可以点击按钮
                const color = this.phone.state === 'success' && !this.codeButton.state ? 'primary' : 'default';
                const state = !(this.phone.state === 'success' && !this.codeButton.state);
                return {color, state};
            }
        },
        methods: {
            // 密码格式是否正确
            isPassword(e) {
                this.password.state = v.maxLength(e.srcElement.value, 20) && v.minLength(e.srcElement.value, 6) ? 'success' : 'error';
            },
            // 是否为昵称
            isNickname(e) {
                this.nickName.state = v.maxLength(e.srcElement.value, 8) && v.minLength(e.srcElement.value, 2) ? 'success' : 'error';
            },
            // 是否为验证码
            isCode(e) {
                this.code.state = v.maxLength(e.srcElement.value, 5) && v.minLength(e.srcElement.value, 3) ? 'success' : 'error';
            },
            // 是否为手机号码
            isPhone(e) {
                this.phone.state = v.isPhone(e.srcElement.value) ? 'success' : 'error';
            },
            // 获取短信验证码
            getCode() {
                this.codeButton.state = true;
                fly.post('sendSms', {phone: this.phone.value})
                    .then(res => {
                        console.log(res);
                    })
                    .catch(err => {
                        console.log(err);
                    });
                let time = 10;
                const timer = setInterval(() => {
                    this.codeButton.value = `${time}s后重发`;
                    time--;
                    if (time === 0) {
                        this.codeButton.value = '重新获取验证码';
                        this.codeButton.state = false;
                        clearInterval(timer)
                    }
                }, 1000)
            },
            // 跳转到登陆页面
            goLogin() {
                location.href = './login.html';
            },
            // 立即注册
            submit() {
                const param = {
                    phone: this.phone.value,
                    code: this.code.value,
                    name: this.nickName.value,
                    pass: this.password.value,
                    referee_id: this.masterId.value
                };
                fly.post('regist', param)
                    .then(res => {
                        this.$toast(res.data.msg);
                        if (res.data.success) {
                            console.log(res.data.code);
                            // location.href = './login.html';
                        }
                    })
                    .catch(err => {
                        this.$toast(err);
                    })
            }
        }
    })
</script>
</body>
</html>