* {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
body, .container {
    background-color: #efefef;
}

body {
    padding-top: .5em;
    padding-bottom: 3em;
    font-size:16px;
}

/* 和顶部标题的间距拉开 */
.container {
    padding-top: 2em;
}

/* 登陆注册页面的logo样式*/
.container > .logo {
    padding: 2em 0;
    height: 10em;
    overflow: hidden;
    text-align: center;
}

.container > .logo > img {
    max-height: 100%;
}

/* 按钮和表单内容间距拉开*/
.submit {
    margin: 1em 0;
}

/* 链接样式 */
.link {
    text-align: center;
}

.link > a {
    color: gray;
    text-decoration-line: none;
}
/* 底部tab图标*/
.tabBar .iconfont {
    font-size: 1.3em;
}
